/* .movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.movie-card {
  width: 200px;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card button {
  margin: 8px 4px;
  padding: 4px 8px;
  cursor: pointer;
} */

.movie-card {
  position: relative;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card-buttons {
  display: none;
  position: absolute;
  bottom: 16px;
  right: 16px;
  gap: 8px;
}

.movie-card:hover .movie-card-buttons {
  display: flex;
}
